body {
  background-color: #D3DBD9;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

#header {
  background-color: #256F5C;
  border-bottom: 1px solid #001611;
  color: #D3DBD9;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  box-shadow: 0px 1px 2px #666;
}

#commandbar {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center
}

.commandbar-input {
  max-width: 600px;
  width: 90%;
  font-size: 20px;
  padding: 5px;
}

#desk {
  margin: 20px auto;
  width: 95%;
}

.card {
  float: left;
  width: 30%;
  max-width: 350px;
  min-width: 150px;
  padding: 20px;
  margin: 15px;
  border: 1px solid #789096;
  background-color: #fafafa;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 3px 3px 6px #aaa;
}

.card-new {
  font-size: 18px;
  padding: 30px;
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
}

.card-new:hover {
  opacity: 0.9;
}

.card-meta {
  font-size: 10px;
  color: #666666;
  margin-bottom: 5px;
}

.card-body {
  padding: 3px;
}

.card.edit .card-body {
  display: none;
}

.card-editor {
  display: none;
}

.edit .card-editor {
  display: block;
}

.card-body,
.card-editor {
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  background-color: inherit;
  line-height: inherit;
  min-height: 50px;
  cursor: pointer;
}

.card-editor {
  background-color: #ffffff;
}




