<!DOCTYPE HTML>
<html lang="en" ng-app="cabocabo">
<head>
	<meta charset="UTF-8">
	<title>Cabocabo</title>
  <script type="text/javascript" src="lib.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="MainCtrl">
  <div id="header">Cabocabo</div>
	<div id="commandbar">
		<input type="text" class="commandbar-input"/>
	</div>
  <div id="desk">
    <div class="card card-new" ng-click="addCard()">
      Neue Karte
    </div>
    <cc-card ng-repeat="card in cardList" cc-card-model="card" class="card"></cc-card>
  </div>
</body>
</html>

